<div class="container form">
  <div class="heading">
      <h2>Registration Form OF Tournament</h2>
      <span class="border"></span>
  </div>

  <div class="registration-form">
      <div class="form-box">
          <div class="title">
            <h2>Tournaments details</h2>
          </div>
          <div class="form-group">
            <input [value]="eventData.tournamentName" required='' type="text" id="tournament_name" disabled>
            <label alt='Tournament Name' placeholder='Tournament Name...' ></label>
          
          </div>
          <div class="form-group">
            
            <input [value]="eventData.tournamentAddress" required='' type="text" id="tournament_venue"  disabled>
            <label alt='Tournament Venue' placeholder='Tournament Venue...' ></label>
          </div>
          <div class="form-group">
            
            <input value="{{eventData.tournamentStartDate|date:'dd-MM-yyyy'}}" required='' type="text" id="tournament_date"  disabled>
            <label alt='Tournament Date' placeholder='Tournament Date...' ></label>
          </div>
          <div class="form-group">
            
            <input [value]="eventData.tournamentFees" required='' type="text" id="tournament_fess"  disabled>
            <label alt='Tournament Entry Fess' placeholder='Tournament Entry Fess...' ></label>
          </div>
          <div class="title">
              <h2>Team details</h2>
          </div>
          <div class="form-group">
              
              <input (keyup)="checkTeam()" [(ngModel)]="teamName" #team_name="ngModel"[value]="eventData.tournamentFees" required='' type="text" id="team_name"  minlength="10" [disabled]="flag">
              <label alt='Team Name' placeholder='Team Name...' ></label>

              <small *ngIf=" (!(teamName==''))&&!(canApply)&&team_name.dirty" style="color:red" >Team name is Already exist </small>
              <small  *ngIf="(!(team_name.errors?.['required'])&&!(team_name.errors?.['minlength']))&&(canApply)&&team_name.dirty" style="color:green" >Team name is Avilable </small>
              <small *ngIf="(teamName=='')&&team_name.touched" style="color:red" >Team name is Required </small>
              <small *ngIf="team_name.errors?.['minlength']" style="color:red" >Team Name Must be 10 Character long </small>
            
            </div>
            <div class="form-group">
              
              <input [value]="teamData.name" required='' type="text" id="owner_name"  disabled>
            <label alt='Team Owner Name' placeholder='Team Owner Name...' ></label>
            </div>
            <div class="form-group">
              
               <input [value]="teamData.email" required='' type="text" id="owner_email"  disabled>
            <label alt='Owner Email' placeholder='Owner Email...' ></label>
            </div>
            <div class="form-group">
             
              <input [value]="teamData.mobile" required='' type="text" id="owner_no."  disabled>
            <label alt='Owner Contact Number' placeholder='Owner Contact Number...' ></label>
            </div>
        </div>
        <div class="form-btn">
            <button class="cancel-btn">Cancel</button>
            <button (click)="ragisterForTournament()"class="register-btn" [disabled]="team_name.errors?.['minlength']||team_name.errors?.['required']||!(canApply)" >Register</button>
        </div>
  </div>
</div>
<ngx-spinner  style="color: rgb(250, 250, 250);">
  <img src="../../../assets/images/spinner_gif/Eclipse-0.5s-64px.svg" alt="spinner">
  Loading...
</ngx-spinner>


