<div class="container">
  <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} signin-box">
    <div class="col-md-5 left">
      <img src="../../../assets/images/virat-img-non-blur.png" alt="poster" class="img-fluid" />
    </div>
    <div class="col-md-7 right">
      <div class="input-box">
        <div class="title">
          <h3>Sign In</h3>
        </div>

        <div class="google-sign-in" (click)="signinWithGoogle()">
          <a class="google-btn"><i class="fa fa-google" aria-hidden="true"></i> Sign In With
            Google</a>
        </div>
        <span class="or">
          <span id="left-line"></span>
          <p>OR</p>
          <span id="right-line"></span>
        </span>
        <div class="input-area">
          <div class="form-group">
            <i class="fa-solid fa-envelope"></i>
            <input (keydown.enter)="tab()" type="email" pattern="[a-zA-Z0-9.]+@[a-z]+\.[a-z]{2,3}" #email="ngModel" [(ngModel)]="user.email"
            name="email" id="email" class="form-control" aria-describedby="helpId"  placeholder=" " required />

            <label class="label-name">Email</label>

            <small id="helpId" *ngIf="email.errors?.['required'] && (email.touched||email.dirty)"><i class="fa-solid fa-circle-exclamation"></i>Please enter email</small>
            <small id="helpId" *ngIf="email.errors?.['pattern']&&(email.touched||email.dirty)"><i class="fa-solid fa-circle-exclamation"></i>Please Enter Valid Email</small>
          </div>
          <div class="form-group pass">
            <i class="fa-solid fa-unlock-keyhole"></i>
            <i class="fa fa-eye" aria-hidden="true" (click)="ShowPassword()"></i>
            <i class="fa-solid fa-eye-slash" aria-hidden="true" *ngIf="showPassword" (click)="ShowPassword()"></i>

            <input (keydown.enter)="tab()" [type]="showPassword ? 'text' : 'password'" required #password="ngModel" [(ngModel)]="user.password" name="password" id="password" spellcheck="false"
              class="form-control" placeholder=" " aria-describedby="helpId" />

            <label class="label-name" for="name"> Password </label>
            <small id="helpId" *ngIf="pass.errors?.['required'] && pass.touched"><i class="fa-solid fa-circle-exclamation"></i>Please enter password</small>
          </div>
          <div class="forgot">
            <a (click)="forget()">Forget password ?</a>
          </div>
          <div class="sign-in-btn">
            <button [disabled]="email.errors || pass.errors" (click)="SignIn()" class="sign-in">
              Sign In
            </button>
          </div>
        </div>
        <div class="new-user">
          <p>New account ? <a (click)="sign_up_page()">Sign Up</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- <div class="container">
  <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} signin-box">
    <div class="col-md-5 left">
      <img src="../../../assets/images/virat-img-non-blur.png" alt="poster" class="img-fluid" />
    </div>
    <div class="col-md-7 right">
      <div class="input-box">
        <div class="title">
          <h3>Sign In</h3>
        </div>

        <div class="google-sign-in" (click)="signinWithGoogle()">
          <a class="google-btn"><i class="fa fa-google" aria-hidden="true"></i> Sign In With
            Google</a>
        </div>
        <span class="or">
          <span id="left-line"></span>
          <p>OR</p>
          <span id="right-line"></span>
        </span>
        <div class="input-area">
          <div class="form-group">
            <i class="fa-solid fa-envelope"></i>
            <input (keydown.enter)="tab()" type="email" pattern="[a-zA-Z0-9.]+@[a-z]+\.[a-z]{2,3}" #email="ngModel" [(ngModel)]="user.email"
              name="email" id="email" class="form-control" aria-describedby="helpId"  placeholder=" " required />

            <label class="label-name" for="name"> Password </label>
            <small id="helpId" *ngIf="pass.errors?.['required'] && (pass.touched||pass.dirty||status)">Please enter password</small>
          </div>
          <div class="forgot">
            <a (click)="forget()">Forget password ?</a>
          </div>
          <div class="sign-in-btn">
            <button id="signin" [disabled]="email.errors || pass.errors" (click)="SignIn()" class="sign-in">
              Sign In
            </button>
          </div>
        </div>
        <div class="new-user">
          <p>New account ? <a (click)="sign_up_page()">Sign Up</a></p>
        </div>
      </div>
    </div>
  </div>
 </div>
   -->
