.forget{
    margin:150px auto;
    padding: 30px 25px;
    max-width:390px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    position:relative;
}
.forget .heading{
    margin-top: 20px;
}
.forget .heading h2{
    font-size: 20px; 
}  

.forget .email{
    width: 100%;
    margin: 30px 0;
}
.forget .email p{
    font-size: 12px;
    letter-spacing: 1px;
    text-align: justify;
}
.forget .email .form-group{
    margin: 30px 0;
}
.forget .email .form-group input{
margin-top:10px;
}
.forget .email .form-group .form-control:focus{
    box-shadow:none;
    
}
button:disabled,button[disabled]{
    background-color: #cccccc;
    cursor:not-allowed !important;
  }

button{
    width: 100%;
    text-align: center;
    border: none;

}
 
.forget .submit-btn .submit{
    background: var(--blue-radial-gradient);
    display: block;
    padding: 5px 25px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.fa-circle-user{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-size: 68px;
    color: rgb(20,79,133);
}