<div *ngIf="status" class="forget">
    <div class="heading">
        <h2>Reset Password</h2>
    </div>
    <div class="email">
        <i class="fa-solid fa-circle-user"></i>

        <p>Enter your email address below and we'll send you a link to reset your password</p>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" required 
            pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #Email="ngModel" [(ngModel)]="email" class="form-control" id="email" name="email" placeholder="Enter email" autocomplete="off">
            <!-- <span style="color:Black" *ngIf="email.errors?.required && email.touched">Please Enter the email</span> -->
            <small id="helpId" *ngIf="Email.errors?.['required'] && Email.touched" >Please enter email</small>
            <span *ngIf="Email.errors?.['pattern']">Invalid email</span>
        </div>
        <div  class="submit-btn">
            <a (click)="sendMail()" class="submit">Submit</a>
        </div>
    </div>
</div>
<div *ngIf="status" class="forget">
    <div class="heading">
        <h2>Reset Password</h2>
    </div>
    <div class="email">
        <i class="fa-solid fa-circle-user"></i>

        <p>Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address.</p>
        
        
    </div>
</div>

