<!-- .wrapper
  h1 Hmm.
  p It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home.
  .buttons
    a(href="#") back
    a(href="#") home
    br
    span Help me out
  
.space
  .blackhole
  .ship -->


<div class="body">
  <div class="wrap">
    <h1>Company Name</h1>
    <div class="banner">
      <img src="../../../assets/images/banner.png" alt="" />
    </div>
    <div class="page">
      <h2>Dude,,we can't find that page!</h2>
    </div>
    <div class="footer">
      <p>&copy; 2013 Poses-404. All Rights Reserved | Design by <a href="https://pratispardha.herokuapp.com">Pratispardha</a></p>
    </div>
  </div>
</div>