<div class="container" id="team">
    <div class="team-name">
        <h2>Team : {{teamName.name}}</h2>
    </div>

    <div  class="table-responsive">
        <table class="table mt-5">
          <thead>
            <tr class="text-center">
              <th scope="col">S.No</th>
              <th scope="col">Tournament Name</th>
              <th scope="col">Tournament Date</th>
              <th scope="col">view Players</th>
            </tr>
          </thead>
          <tbody>
            
            <tr class="text-center" *ngFor="let tournament of tournament index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{tournament.tournamentName}}</td>
                <td>{{tournament.tournamentStartDate | date:'dd-MM-yyyy'}}</td>
                <td>team Players</td>
            </tr>
            
          </tbody>
        </table>
    </div>
</div>
